* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    height: 100vh;
}


/*          =====  NAVIGATION BAR  =====           */

nav {
    height: 10vh;
    width: 100vw;
    background-color: white;
    display: flex;
}

.logo img {
    width: 100px;
    height: 90px;
    margin-top: 10px;
    margin-left: 190px;
}

.navigation {
    height: 10vh;
    color: white;
    display: flex;
    width: 50vw;
    justify-content: space-around;
    align-items: center;
    position: relative;
    color: black;
}

.navigation h2 {
    cursor: pointer;
    font-size: 15px;
}


.navigation li {
    pointer-events: none;
}

.for-drop-down ul li {
    padding: 10px;
    transition: ease 0.4s all;
    opacity: 0;
    margin: 10px;
    width: 250px;
}

.navigation ul {
    position: absolute;
    list-style: none;
    background-color: white;
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
}

.navigation h2:hover,
.for-drop-down li:hover {
    color: rgb(145, 145, 145);
}

.for-drop-down h2:hover + ul li{
    opacity: 1;
    transform: translateY(10px);
    pointer-events: all;
}

/*          =====  FIRST IMPRESSION TO USERS  =====         */

h1 {
    font-size: 50px;
    font-family: 'Contrail One', cursive;
}
.main-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
}

.firstImpression {
    width: 30vw;
    margin-left: 60px;
}

.maleSuit-parent {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.maleSuit {
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 25vw;
    box-shadow: 0px 0px 40px;
    border-radius: 15px;
}
/* .btn-wrap {
    display: flex;
} */

.left-arrow-icon {
    position: absolute;
    left: 100px;
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
}

.right-arrow-icon {
    position: absolute;
    right: 100px;
    width: 50px;
    height: 50px;
}